header {
    display: flex;
    justify-content: space-between;
    background-color: #606c38;
    align-items: center;
    padding: 30px 10%;
    box-sizing: border-box;
    padding-left: 85px;
    

}


.nav__links{
    list-style: none;
 
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a{
transition: all 0.3s ease 0s;
border-bottom: 3px solid #3a5a40;
padding-bottom: 5px;
}

.nav__links li a:hover{
    color:black;
    border-radius: 55px;
    border: none;
    background-color: #3a5a40;
    padding: 9px 25px;
    }


    .Request-Estimate__button{
      margin-left: 550px;
    }

    .Request-Estimate__button{
        padding: 9px 25px;
        background-color: #3a5a40;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .Special-offers__button{
        padding: 9px 25px;
        background-color: #3a5a40;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }



.buisness_info{
    display: flex;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    
}


.wrapper {
  display: inline-block;
  position: relative;
  left: 32%;
  margin-left: 50px;
}

.footer_copyright{
    display: flex;
    justify-content: center;
    
}

#footer_navs{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    list-style: none;
    
}

li, a {
text-decoration: none;
color: #84a98c;
font-family: DM Serif Display;

}

footer{
    padding: 30px 10%;
    box-sizing: border-box;
    border-top: 1px solid #000000;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    background-color: #606c38;
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
    
}

#footer_navs li a{
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid #3a5a40;
    padding-bottom: 5px;
}

#footer_navs li a:hover{
   
    color:black;
    border-radius: 55px;
    border: none;
    background-color: #3a5a40;
    padding: 9px 25px;
    
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Be Vietnam Pro;
    text-align: center;
 


  
}

p {
    display: flex;
    justify-content: center;
    font-family: Lato;
    text-align: center;
}

.Special-offers__button{
    margin-left: 580px;
}

h1{
    font-family:Bebas Neue;
    text-shadow: 10px 10px 5px #283618;
    color: #84a98c;
}

.Special-offers__button:hover{
    box-shadow: 0 0 5px #3a5a40,
    0 0 25px #3a5a40, 0 0 50px #3a5a40,
    0 0 100px #3a5a40, 0 0 200px #3a5a40;

}

.Request-Estimate__button:hover{
    box-shadow: 0 0 5px #3a5a40,
    0 0 25px  #3a5a40, 0 0 50px  #3a5a40,
    0 0 100px  #3a5a40, 0 0 200px #3a5a40;  
}

img {
    border-radius: 8px;
    max-width: 15%;
    margin-left: 535px;
}

#myChart  {
    max-width: 600px; 
}
    
canvas ,#myChart {
    margin-left: 325px;
    padding-bottom: 50px;
}

.Phone_number {
    border: 15px;
    background-color: #3a5a40;
    border-radius: 55px;
    padding: 10px 15px 10px;
    color: #000000;
}

form {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    background-color: #3a5a40;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 85px;
   
   
}

label {
    margin-right: 25px;
    margin-left: 25px;
    
   
}

input {
    margin-left: 10px;
    margin-top: 10px;
    margin-top: 15px;
}

#footer_number {
    margin-top: 50px;
}

h2{
    color: #606c38;

    
}

h4{
    margin-top: 70px;
}

.form_wrapper {
    display: flex;
    justify-content: center;
} 

#First_Name_err {
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #606c38;
    border-radius: 10px;
    padding: 15px 15px 10px;
    font-family: Be Vietnam Pro;

}

.container {
    padding: 55px 55px 55px;
    border: 0px solid #283618;
    margin-bottom: 55px;
    position: relative;
    transform-style: preserve-3d;
    background-color: #3a5a40;
}

.container::before {
    content: "";
    position: absolute;	
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    transform: translate3d(0px,0px,-1px);
    clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,0 0,0 100%,100% 100%,100% 0,0 0);
    pointer-events: none;
  }

  .container button {
    border: 1px solid #000000;;
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.8em 2em;
    border-radius: 2em;
    background-color: #606c38;
    color: #000000;
    cursor: pointer;
  }


  .container img {
    display: block;
    height: 25em;
    max-width: 80%;
    margin: 0 auto 1em auto;
  }

  .container h3 {
    display: block;
    font-size: 1em;
    margin: 0.5em auto 2em auto;
    width: 70%;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    letter-spacing:  0.03;

  }

   .container h2 {
    color: #000000;
  }











